section.boss {
    background-color: rgba(220,220,220,0.4);
    border-radius: 25px;
    margin-bottom: 15px;
    box-shadow: 2px 2px darkgray;
}

section.boss > img {
    display: inline-block;
    height: 50px;
    vertical-align:middle;
    margin-left: 12px;
    border-radius: 3px;
    vertical-align: top;
    margin-top: 5px;
}

section.boss span.boss-name {
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    margin-left: 10px;

    cursor: pointer;
    user-select: none;
    vertical-align: top;
    margin-top: 5px;
}