.setup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.setup.main-setup {
    background-color: #41ff5d;
}

.setup.backup-setup {
    background-color: #ffc135;
}

.setup.missing-setup {
    background-color: #ff1300;
}

.setup .setup-name {
    order: 0;
    display: flex;
    width: 175px;
}

.setup .setup-name > * {
    margin: auto;
}

.setup .setup-roles {
    order: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}