.setup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.setupSelector.closed .setup.active {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.setupSelector.open .setup.active:last-child {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.setup.active {

}
.setup.inactive {
    display: none;
}

.setup.main-setup {
    background-color: #41ff5d;
}

.setup.backup-setup {
    background-color: #ffc135;
}

.setup.missing-setup {
    background-color: #ff1300;
}

.setup .setup-name {
    order: 0;
    display: flex;
    width: 175px;
    cursor: pointer;
    user-select: none;
}

.setup .setup-name > * {
    margin: auto;
}